.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.9);
  z-index: 3000;
  transition: all 0.4s;

  //hide it
  opacity: 0;
  visibility: hidden;


  &:target {
    //using anchor elements in html
    opacity: 1;
    visibility: visible;
  }

 
  &__content {
    width: 75%;
    //height: 50rem; //for testing propouses
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    @include absCenter;
    border-radius: 3px;
    display: table;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s;
  }

  &:target &__content{
      transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    width: 33.3333%;
    display: table-cell;
    vertical-align: middle;
  }
  &__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  &__close {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-size: 3rem;
      position: absolute;
      top: -0.6rem;
      right: 1.3rem;
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      color: $color-primary;
      outline: none;
    }
  }
}
